@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
.hero {
  height: 60vh;
  padding-top: 100px;
  background-color: $forth-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url('../../assets/bgc1.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  .title {
    padding: 40px;
  }

  .btn {
    margin-top: 20px;
    // background-color: $third-color;
    color: $second-color;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid $second-color;
    display: flex;
    align-items: center;
    transition: 0.5s;

    cursor: pointer;
    .icon {
      transition: 0.5s;
      fill: $second-color;
      margin-left: 8px;
    }

    &:hover {
      background-color: $first-color;
    }
    &:hover > .icon {
      transform: rotate(90deg);
      // background-color: greenyellow;
      // margin-top: 70px;
    }
  }

  //animation-1
  .word {
    font-family: 'Anton', sans-serif;
    perspective: 1000px;
  }

  .word span {
    cursor: pointer;
    display: inline-block;
    font-size: 100px;
    user-select: none;
    line-height: 0.8;

    @include respon(700px) {
      font-size: 60px;
    }

    @include respon(phone) {
      font-size: 40px;
    }
  }

  .word span:nth-child(1).active,
  .word span:nth-child(9).active {
    animation: balance 1.5s ease-out;
    transform-origin: bottom left;
  }

  .word span:nth-child(2).active {
    animation: shrinkjump 1s ease-in-out;
    transform-origin: bottom center;
  }

  .word span:nth-child(3).active {
    animation: falling 2s ease-out;
    transform-origin: bottom center;
  }

  .word span:nth-child(5).active {
    animation: rotate 1s ease-out;
  }

  .word span:nth-child(6).active {
    animation: toplong 1.5s linear;
  }
  .word span:nth-child(7).active {
    animation: moveInLeft 1.5s linear;
  }

  .word span:nth-child(8).active {
    animation: fade 1.5s linear;
  }

  /* Other styles */

  .fixed {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  //close animation-1
  //animation-2
  .console-container {
    font-size: 2em;
    text-align: center;
    @include respon(700px) {
      font-size: 1.5em;
    }

    @include respon(phone) {
      font-size: 1.2em;
    }
  }
  .console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
  }
  //close animation-2
}
