@font-face {
  font-family: roboto-mono;
  src: url('assets/fonts/roboto-mono/RobotoMono-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: roboto-mono;
  src: url('assets/fonts/roboto-mono/RobotoMono-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: roboto-mono;
  src: url('assets/fonts/roboto-mono/RobotoMono-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: roboto-mono;
  src: url('assets/fonts/roboto-mono/RobotoMono-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: roboto;
  src: url('assets/fonts/roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: roboto;
  src: url('assets/fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: roboto-mono;
  src: url('assets/fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: roboto-mono;
  src: url('assets/fonts/roboto/Roboto-Thin.ttf');
  font-weight: 100;
}
