@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
.skills {
  justify-content: space-between;
  .icon-container {
    margin-right: 8px;
  }

  .skills-container {
    display: flex;
    justify-content: space-between;
    @include respon(phone) {
      flex-direction: column;
    }
  }
  ul {
    // display: flex;
    li {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
