//pallte 1
// $first-color: #f7f7f7;
// $second-color: #ff0083;
// $third-color: #282828;
// $forth-color: #cb793a;

// // pallte 2
$first-color: #99a8a8;
$second-color: #e5eded;
$third-color: #718e8e;
$forth-color: #2d3047;

//pallte 3
// $first-color: #0e2a47;
// $second-color: #fbfcff;
// $third-color: #1593ff;
// $forth-color: #ff8cc6;

//pallte 4
// $first-color: #ffffff;
// $second-color: #0073ea;
// $third-color: #292f4c;

//pallte 5
// $first-color: #fafafa;
// $second-color: #131313;
// $third-color: #b08b5d;
