@import '../../scss/abstracts/variables';

.header {
  padding: 20px;
  background-color: $third-color;
  position: fixed;
  z-index: 5;
  width: 100%;
  a {
    padding: 15px;
    text-transform: capitalize;
    color: $second-color;
    font-family: roboto-mono;
    font-weight: 700;
  }
}
