@import '../../scss/abstracts/variables';

.header {
  padding: 0 20px;
  background-color: $third-color;
  position: fixed;
  z-index: 5;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: roboto-mono;
  font-weight: 700;
  color: $second-color;
  a {
    padding: 15px;
    text-transform: capitalize;
    color: inherit;
    transition: 0.6s;
    &:hover {
      color: $forth-color;
    }
  }
  .logo {
    path {
      fill: $forth-color;
    }
  }

  .moveHome {
    left: 0;
    width: 100%;
    position: absolute;
  }

  .active {
    color: $forth-color;
  }
}
