@import '../../scss/abstracts/variables';
.projectPreview {
  padding: 15px;
  width: 400px;
  height: 400px;

  .preview-front {
    position: relative;
    .title {
      text-transform: capitalize;
    }
    .proj-img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }

  .preview-hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    .skills-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
    }

    .skill {
      padding: 5px;
      margin: 5px;
      background-color: $first-color;
      text-transform: uppercase;
    }

    .btn-open {
      padding: 10px;
      background-color: $first-color;
      color: $third-color;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 10px;
      font-size: 20px;
      text-transform: capitalize;
      border: none;
      transition: 0.8s;
      font-weight: 700;
      &:hover {
        background-color: $second-color;
      }
    }
  }
}
